* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: #e9e5e4;
  color: #fff;
  line-height: 1.8;
}
.navcontainer {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0px 20px;
}

.navbar {
  margin: 0;
  padding: 0;
  background: #716e6e;
  overflow: auto;
  color: #fff;
}

.navbar .navcontainer ul {
  list-style: none;
  float: right;
}

.navbar .navcontainer ul li {
  float: left;
}

.menu li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.navbar .navcontainer ul li a:hover,
.navbar .navcontainer ul li .current-page {
  background-color: #ada8a7;
  color: #fff;
  border-radius: 10px;
}

.navbar .navcontainer .logo {
  color: #fff;
  float: left;
  padding-top: 15px;
}

a {
  text-decoration: none;
}
.container {
  margin: 30px auto;
  padding: 20px;
  max-width: 400px;
}
.form-wrap {
  background-color: #fff;
  padding: 15px 25px;
  color: #333;
}
.form-wrap h1,
.form-wrap h5 {
  text-align: center;
  color: #878383;
}
.form-wrap .form-group {
  margin-top: 15px;
}
.form-wrap .form-group label {
  display: block;
  color: #666;
}
.form-wrap .form-group .output {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
}
.btn {
  display: block;
  color: #fff;
  background: #b4afae;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.form-wrap .btn:hover {
  background-color: #ada8a7;
}
.signin {
  display: inline-block;
}
.form-wrap .bottom-text {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}
footer {
  text-align: center;
  margin-top: 10px;
}
footer a {
  color: red;
}
